body{
    font-family: 'Mukta', sans-serif;
   font-family: 'Poppins', sans-serif;
   font-family: 'Slabo 27px', serif;
   margin: 0;
}
.flexible-container{
    display:flex;
}
.display-inline{
   display:block;
   
}
h1{
    font-size: 50px;
}
h1 span{
    color: gold;
}
.color{
    color: gold;
}

.half-width1{
    width: 50%;
    padding: 40px 100px;
    padding-left: 10%;
    
}
.half-width1 img{
    width:300px;
    height: 300px;
    border-radius: 50%;
    
}
.first-text{
    font-size: 18px;
}
.left-border{
    position: relative;
}
.left-border h1::before{
    content: "";
    position: absolute;
    top: 20px;
    left: -10px;
    width: 4px;
    height: 88px;
    background: olivedrab;
    
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background: red;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
}
.small-text{
    padding:40px 0;
    font-size: 15px;
}

.second-iteam1{
    width: 20%;
    padding: 20px 40px;
    margin-left: 85px;
    background-color: lightslategrey;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.second-iteam1 img{
    width: 40%;
}
.second-iteam2{
    width: 20%;
    padding: 20px 40px;
    margin-left: 85px;
    background-color: rgb(218, 84, 223);
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.second-iteam2 img{
    width: 40%;
}
.second-iteam3{
    width: 20%;
    padding: 20px 40px;
    margin-left: 85px;
    background-color: rgb(226, 216, 71);
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.second-iteam3 img{
    width: 50%;
}
.second-heading{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.half-width2{
    width: 50%;
    padding: 44px 14px;
    margin: 30px -7px;

}
.half-width2 img{
    width: 70%;
    margin-left: 10%;
}
.half-width2 h1{
    font-size: 70px;
    font-weight: 900;
    margin: 4px -50px;
}
.half-width2 p{
    font-size: 23px;
    margin:39px -46px;
    width:75%
}
.read{
    margin: 0 -48px;
}